@keyframes appear1 {
  from {opacity: 0%;margin-left:30px;}
  to {opacity: 100%;margin-left:0px;}
}

@keyframes grow{
  from{width:0%}
  to{}
}

@keyframes growhigh{
  from{height:0%}
  to{}
}

body{
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  place-items: center;
  font-family: 'Rubik', sans-serif;
}

.menu {
    border-radius: 15px;
    margin-top: 10px;
    display: inline-block;
    list-style-type: none;
    top: 0;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-align:center;
    transform:scale(120%);
    margin-bottom: 0;
  
}
 
.menu a {
    float: left;
    text-align: center;
    padding: 20px 26px;
    text-decoration: none;
    color:#444;
    font-size: 150%;
}

.menu a:hover {
    color: black;
}

.selected{
    font-weight: bold;
    color: black;
}

#pablo{
  margin-top: 0;
	width: 30%;
  border-radius: 150px;
  border: 5px solid #666;
  animation-name: appear1;
  animation-duration: 2s;
}

button b{
  font-size: 150%;
}

p b{
  font-size: 120%;
}

h1{ /*Principales*/
    font-size: 2.25rem;
    font-weight: 700;
    color: rgb(27, 49, 101);
}
h2{ /* Contadores*/
  font-size: 400%;
}
h4{ /*Paneles*/
  font-size: 150%;
  margin: 10px;
}
h5{ /*Cursos y libros*/
  font-size: 100%;
  margin-top:0;
  padding: 10px;
}
h6{ /*Títulos libros*/
  font-size: 100%;
  text-align: left;
  padding-left: 20%;
  padding-top: 0;
  padding-bottom: 0;
  color:rgb(27, 49, 101);
}

#cards{
  display: grid;
  grid-gap: 10px;
  align-items: center;
  grid-template-columns: repeat(4, calc(25% - 10px));
}
.card{
  box-shadow: 6px 4px 8px 0 rgba(0,0,0,0.6);
  border-radius:30px;
  border: solid black 2px;
  width: 90%;
  height: 90%;
  padding: 10px;
}
#proyects{
  display: grid;
  grid-gap: 10px;
  align-items: center;
  grid-template-columns: repeat(2, calc(50% - 0px));
}

#logo{
  animation-name:grow;
  animation-duration:2s;
  position:relative;
  width:70%;
  padding-bottom: 5px;
  
}

#proyects #logo{
  animation:none;
  object-fit: cover; width: 90%; height: 150px;
  border-radius:15px;
}

#presentation{
    top: 15%;
    left: 22%;
    text-align: center;
    font-size:150%;
    line-height: 140%;
    color: black;
}


button {
  border: none;
  outline: none;
  color: #fff;
  background: rgb(27, 49, 101);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-size: 150%;
  border: none;
  color: #FFFFFF;
  font-size: 28px;
  padding: 20px;
  width: 310px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

button:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

button:active {
  color: rgb(27, 49, 101)
}

button:hover:before {
  opacity: 1;
}

button:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(27, 49, 101);
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.card button {
  border-radius: 10px;
  background: #1b3165;
  border: none;
  color: #FFFFFF;
  font-size: 15px;
  padding: 20px;
  width: 45%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}



#cursos #cards{
  width: 95%;
  display: grid;
  grid-gap: 0px;
  align-items: center;
  grid-template-columns: repeat(3, calc(35.3%));
}
#cursos .card{
  width: 95%;
  padding: 0px;
}



#dplogo{
  margin-left:150px;
}

#subcount{
  transform: scale(0.4);
  float: left;
  height:10px;
  margin-left:-10%;
}
#viewcount{
  
  float:right;
  transform: scale(0.4);
  height: 0px;
  width: 500px;
  margin-right: 10%;
}
#views{
  margin-top:30px;
  margin-left:200px;
}




#peri{
  position:relative;
  width:120px;
  padding-bottom: 20px;
  padding-top: 10px;
  padding-top:20%;
  padding-bottom:20%;
}

#suscripcion{
  float:right;
  margin-right: 20%;
}
p{
  margin-top: 0;
  margin-bottom: 0;
  font-size:90%;
  color:rgb(27, 49, 101)
}

a{
  cursor: pointer;
}




.accordion {
  color: white !important;
  cursor: pointer !important;
  padding: 18px !important;
  width: 100% !important;
  border: none !important;
  text-align: left !important;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}
.active, .accordion:hover {
  background-color: #ccc;
}


.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

#miformulario{
  height:50px;
}

#setupphoto{
  width:100%;
  border-radius:30px;
  box-shadow: 6px 8px 8px 0 rgba(0,0,0,0.6);
}
#bookcover{
  width:250px;
  height:350px;
  border-radius:20px;
}

.flip-card {
  background-color: transparent;
  width: 250px;
  height: 350px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  border: none;
  cursor: pointer;
  margin-bottom: 5px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 20px;
  box-shadow: 6px 8px 8px 0 rgba(0,0,0,0.6);
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  border-radius: 20px;
}

.flip-card-back {
  background: linear-gradient(163deg, rgba(2,0,36,1) 0%, rgba(74,74,140,1) 35%, rgba(0,212,255,1) 100%);
  color: white;
  transform: rotateY(180deg);
}

#libros{
  display: grid;
  grid-gap: 10px;
  align-items: center;
  grid-template-columns: repeat(3, calc(35% - 15px));
  margin-bottom: 30px;
}

#libros h3{
  color: white !important;
  font-size:140%;
  margin: 25px;
  padding-top: 10px;
}

#libros p{
  color: white;
}

