body{
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  place-items: center;
  font-family: 'Rubik';
}

.menu {
    border-radius: 15px;
    margin-top: 10px;
    display: inline-block;
    list-style-type: none;
    top: 0;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-align:center;
    transform:scale(120%)
  
}
 
.menu a {
    float: left;
    text-align: center;
    padding: 20px 26px;
    text-decoration: none;
    font-family: 'Rubik';
    color:#444;
    font-size: 150%;
}

.menu a:hover {
    color: black;
}

.selected{
    font-weight: bold;
    color: black;
}

#pablo{
	width: 20%;
    border-radius: 150px;
    border: 5px solid #666;
}

h1{ /*Principales*/
    font-family: 'Rubik';
    font-size: 2.25rem;
    font-weight: 700;
    color: rgb(27, 49, 101);
}
h2{ /* Contadores*/
  font-size: 400%;
}
h4{ /*Paneles*/
  font-size: 150%;
  margin-top: 5px;
  padding-left: 5px;
  padding-right: 5px;

}
h5{ /*Cursos y libros*/
  font-size: 100%;
  margin-top:0;
  padding: 10px;
}
h6{ /*Títulos libros*/
  font-size: 100%;
  text-align: left;
  padding-left: 20%;
  padding-top: 0;
  padding-bottom: 0;
  color:rgb(27, 49, 101);
}

#presentation{
    top: 15%;
    left: 22%;
	  font-family: 'Rubik', sans-serif;
    text-align: center;
    font-size:150%;
    line-height: 140%;
    color: black;
}


button {
  border-radius: 10px;
  background: linear-gradient(180deg,rgb(0, 255, 229) 0%, rgb(0, 200, 255) 100%);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  vertical-align: middle;
}
button span {
  cursor: pointer;
  position: relative;
  transition: 0.5s;
}
button span:after {
  content: '\00bb';
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
button:hover span {
  padding-right: 25px;
}
button:hover span:after {
  opacity: 1;
  right: 0;
}



#cursos #cards{
  display: grid;
  grid-gap: 10px;
  align-items: center;
  grid-template-columns: repeat(3, calc(33.33% - 10px));
  padding-left:10px;
}

#cursos .card{
  padding-bottom:5px;
}



#dplogo{
  margin-left:150px;
}

#labeldis{
  font-family:'Rubik';
}

#subcount{
  transform: scale(0.4);
  float: left;
  height:10px;
  margin-left:-10%;
}
#viewcount{
  
  float:right;
  transform: scale(0.4);
  height: 0px;
  width: 500px;
  margin-right: 10%;
}
#views{
  margin-top:30px;
  margin-left:200px;
}


#logo{
  position:relative;
  width:100px;
  padding-bottom: 20px;
  padding-top: 10px;
}

#peri{
  position:relative;
  width:120px;
  padding-bottom: 20px;
  padding-top: 10px;
  padding-top:20%;
  padding-bottom:20%;
}

#suscripcion{
  float:right;
  margin-right: 20%;
}
p{
  margin-top: 0;
  margin-bottom: 0;
  font-size:90%;
  color:rgb(27, 49, 101)
}

a{
  cursor: pointer;
}


#cards{
    display: grid;
    grid-gap: 10px;
    align-items: center;
    grid-template-columns: repeat(4, calc(25% - 10px));
}
.card{
    box-shadow: 6px 4px 8px 0 rgba(0,0,0,0.6);
    border-radius:30px;
    border: solid black 2px;
    width: 90%;
    height: 90%
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}
.active, .accordion:hover {
  background-color: #ccc;
}
.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.active:after {
  content: "\2212";
}
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

#miformulario{
  height:50px;
}

#setupphoto{
  width:100%;
  border-radius:30px;
  box-shadow: 6px 8px 8px 0 rgba(0,0,0,0.6);
}